# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# 本地构建的依赖 jar
libs/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# 设计稿与设计文档
design-docs/
